node_modules
.pnpm-store
.next
out
dist
build
coverage
*.tsbuildinfo
.turbo
.vercel

.env
.env.local
.env.*.local
!.env.example

supabase/.temp
supabase/.branches
supabase/.env

packages/database/src/generated

npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
next-env.d.ts
